* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --bg-color: #95979c;
  --primary-size: 2rem;
  --secondary-size: 1.4rem;
  --secondary-color: #ffffff;
  --text-color: #232323;
  --standard-margin: 3rem;
  --shadow-color: #444343;
}

li {
  list-style-type: none;
}

.container {
  display: flex;
  margin: auto auto;
  max-width: 1000px;
}

.info {
  background-color: var(--bg-color);
  flex-wrap: wrap;
  width: 40%;
}

.info__wrapper {
  margin: var(--standard-margin);
}
@media (max-width: 992px) {
  .info__wrapper {
    margin: calc(var(--standard-margin) - 1rem);
  }
}
@media (max-width: 767px) {
  .info__wrapper {
    margin: calc(var(--standard-margin) - 2rem);
  }
}
@media (max-width: 479px) {
  .info__wrapper {
    margin: calc(var(--standard-margin) - 2.7rem);
  }
}

.info__img {
  width: calc(var(--primary-size) + 8rem);
  border-radius: 50%;
  display: block;
  margin: 10px auto;
  transition: transform 0.3s ease-in-out;
  box-shadow: 5px 5px 5px var(--shadow-color);
  max-width: 100%;
}
@media (max-width: 992px) {
  .info__img {
    width: calc(var(--primary-size) + 7rem);
  }
}
@media (max-width: 767px) {
  .info__img {
    width: calc(var(--primary-size) + 6rem);
  }
}
@media (max-width: 479px) {
  .info__img {
    width: calc(var(--primary-size) + 5rem);
  }
}

.info__img:hover {
  transform: scale(1.05);
}

.info__name {
  font-size: var(--primary-size);
  color: var(--secondary-color);
  text-align: center;
}

.info__job {
  color: #d7d7d7;
  text-align: center;
}

.target {
  margin: var(--standard-margin);
}
@media (max-width: 992px) {
  .target {
    margin: calc(var(--standard-margin) - 1rem);
  }
}
@media (max-width: 767px) {
  .target {
    margin: calc(var(--standard-margin) - 2rem);
  }
}
@media (max-width: 479px) {
  .target {
    margin: calc(var(--standard-margin) - 2.7rem);
  }
}

.target__job {
  color: var(--secondary-color);
  margin-top: calc(var(--standard-margin) - 2rem);
}

.data {
  margin: var(--standard-margin);
}
@media (max-width: 992px) {
  .data {
    margin: calc(var(--standard-margin) - 1rem);
  }
}
@media (max-width: 767px) {
  .data {
    margin: calc(var(--standard-margin) - 2rem);
  }
}
@media (max-width: 479px) {
  .data {
    margin: calc(var(--standard-margin) - 2.7rem);
  }
}

.data__item {
  color: var(--secondary-color);
  margin-top: calc(var(--standard-margin) - 2.5rem);
}

@media (max-width: 479px) {
  .data__item:first-child {
    font-size: 12px;
  }
}

.data__link {
  text-decoration: none;
  color: var(--secondary-color);
}

.skills {
  margin: var(--standard-margin);
}
@media (max-width: 992px) {
  .skills {
    margin: calc(var(--standard-margin) - 1rem);
  }
}
@media (max-width: 767px) {
  .skills {
    margin: calc(var(--standard-margin) - 2rem);
  }
}
@media (max-width: 479px) {
  .skills {
    margin: calc(var(--standard-margin) - 2.7rem);
  }
}

.title {
  margin-top: var(--standard-margin);
  margin-bottom: calc(var(--standard-margin) - 2rem);
  color: var(--secondary-color);
}
@media (max-width: 992px) {
  .title {
    margin-top: calc(var(--standard-margin) - 1.8rem);
    margin-bottom: calc(var(--standard-margin) - 2.2rem);
  }
}
@media (max-width: 767px) {
  .title {
    margin-top: calc(var(--standard-margin) - 2.2rem);
    margin-bottom: calc(var(--standard-margin) - 2.5rem);
  }
}
@media (max-width: 479px) {
  .title {
    margin-top: calc(var(--standard-margin) - 2.5rem);
    margin-bottom: calc(var(--standard-margin) - 2.7rem);
  }
}

.skills__list {
  margin-left: calc(var(--standard-margin) - 0.5rem);
  color: var(--secondary-color);
}

.skills__item {
  list-style-type: disc;
  color: var(--secondary-color);
  margin-top: calc(var(--standard-margin) - 2.5rem);
}

.hobbies {
  margin: var(--standard-margin);
}
@media (max-width: 992px) {
  .hobbies {
    margin: calc(var(--standard-margin) - 1rem);
  }
}
@media (max-width: 767px) {
  .hobbies {
    margin: calc(var(--standard-margin) - 2rem);
  }
}
@media (max-width: 479px) {
  .hobbies {
    margin: calc(var(--standard-margin) - 2.7rem);
  }
}

.hobbies__item {
  margin-top: calc(var(--standard-margin) - 2rem);
  color: var(--secondary-color);
}

.social-media__list {
  text-align: center;
}

.social-media {
  margin: var(--standard-margin);
  background-color: var(--bg-color);
}
@media (max-width: 992px) {
  .social-media {
    margin: calc(var(--standard-margin) - 1rem);
  }
}
@media (max-width: 767px) {
  .social-media {
    margin: calc(var(--standard-margin) - 2rem);
  }
}
@media (max-width: 479px) {
  .social-media {
    margin: calc(var(--standard-margin) - 2.7rem);
  }
}

.social-media__link {
  text-decoration: none;
}

.social-media__icon {
  width: 2.5rem;
  margin-right: calc(var(--standard-margin) - 2rem);
  margin-top: calc(var(--standard-margin) - 2rem);
  transition: transform 0.3s ease-in-out;
  box-shadow: 5px 5px 5px var(--shadow-color);
  border-radius: 50%;
}

.social-media__icon:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px 5px var(--shadow-color);
}

.social-media__icon:active {
  transform: scale(1.1);
  box-shadow: 4px 4px 5px var(--shadow-color);
}

/* ========================================================================== */
.about {
  flex-wrap: wrap;
  width: 70%;
  background-color: #d7d7d7;
}

.about__info {
  margin: var(--standard-margin);
}
@media (max-width: 992px) {
  .about__info {
    margin: calc(var(--standard-margin) - 1rem);
  }
}
@media (max-width: 767px) {
  .about__info {
    margin: calc(var(--standard-margin) - 2rem);
  }
}
@media (max-width: 479px) {
  .about__info {
    margin: calc(var(--standard-margin) - 2.7rem);
  }
}

.about__item {
  margin-top: calc(var(--standard-margin) - 1rem);
}
@media (max-width: 992px) {
  .about__item {
    margin-top: calc(var(--standard-margin) - 1.8rem);
  }
}
@media (max-width: 767px) {
  .about__item {
    margin-top: calc(var(--standard-margin) - 2.2rem);
  }
}
@media (max-width: 479px) {
  .about__item {
    margin-top: calc(var(--standard-margin) - 2.5rem);
  }
}

.education__wrapper {
  margin: var(--standard-margin);
}
@media (max-width: 992px) {
  .education__wrapper {
    margin: calc(var(--standard-margin) - 1rem);
  }
}
@media (max-width: 767px) {
  .education__wrapper {
    margin: calc(var(--standard-margin) - 2rem);
  }
}
@media (max-width: 479px) {
  .education__wrapper {
    margin: calc(var(--standard-margin) - 2.7rem);
  }
}

.education {
  display: flex;
  /* justify-content: space-between; */
  margin-top: calc(var(--standard-margin) - 1rem);
}
@media (max-width: 992px) {
  .education {
    margin-top: calc(var(--standard-margin) - 1.8rem);
  }
}
@media (max-width: 767px) {
  .education {
    margin-top: calc(var(--standard-margin) - 2.2rem);
  }
}
@media (max-width: 479px) {
  .education {
    margin-top: calc(var(--standard-margin) - 2.5rem);
  }
}

.education__year {
  margin-right: calc(var(--standard-margin) + 1rem);
}
@media (max-width: 992px) {
  .education__year {
    margin-right: var(--standard-margin);
  }
}
@media (max-width: 767px) {
  .education__year {
    margin-right: calc(var(--standard-margin) - 2rem);
  }
}
@media (max-width: 479px) {
  .education__year {
    margin-right: calc(var(--standard-margin) - 2.7rem);
  }
}

/* .education__info {
} */

.projects__wrapper {
  margin: var(--standard-margin);
}
@media (max-width: 992px) {
  .projects__wrapper {
    margin: calc(var(--standard-margin) - 1rem);
  }
}
@media (max-width: 767px) {
  .projects__wrapper {
    margin: calc(var(--standard-margin) - 2rem);
  }
}
@media (max-width: 479px) {
  .projects__wrapper {
    margin: calc(var(--standard-margin) - 2.7rem);
  }
}

.projects__name {
  margin-top: calc(var(--standard-margin) - 1rem);
}
@media (max-width: 992px) {
  .projects__name {
    margin-top: calc(var(--standard-margin) - 1.8rem);
  }
}
@media (max-width: 767px) {
  .projects__name {
    margin-top: calc(var(--standard-margin) - 2.2rem);
  }
}
@media (max-width: 479px) {
  .projects__name {
    margin-top: calc(var(--standard-margin) - 2.5rem);
  }
}

.projects__info {
  margin-top: calc(var(--standard-margin) - 2.5rem);
}

.projects__list {
  margin-left: calc(var(--standard-margin) - 1.5rem);
}
