*{
  margin : 0;
  padding :0;
  box-sizing : border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --bg-color : #95979c;
  --primary-size : 2rem;
  --secondary-size : 1.4rem;
  --secondary-color : #FFFFFF;
  --text-color : #232323;
  --standard-margin : 3rem
  }

a {
  text-decoration: none;
  color:var(--text-color);
}

li {
list-style-type : none;
} 

.container {
display: flex; 
}

.info {
  background-color : var(--bg-color);
  width : 80%;
}

/* .info__wrapper {
 margin: 0 auto;
} */

.info__img {
  width : 10rem;
  margin : var(standard-margin);
  border-radius: 50%;
}

.info__name {
  margin-left : var(--standard-margin);
  font-size : var(--primary-size);
  color : var(--secondary-color);
}

.info__job {
  color : #D7D7D7;
  margin-left : var(--standard-margin);
}

.data {
  margin-left : var(--standard-margin);
}

.data__item {
  background-color : var(--secondary-color); 
  margin-top : var(--standard-margin);
  padding : calc(var(--secondary-size)+.6rem)
}

.data__item : first-child {
  margin-top : 1rem;
}

.skills {
  margin-left : var(--standard-margin);
}

.title {
 margin-top : var(--standard-margin);
 color : var(--secondary-color);
}

.skills__list {
  margin-left : calc(var(--standard-margin) - 0.5rem);
  color : var(--secondary-color);
}

.skills__item {
  list-style-type : disc;
  margin-top : calc(var(--standard-margin) - 2rem);
}

.hobbies {
   margin: var(--standard-margin);
    color : var(--secondary-color);
}

.hobbies__item {
  margin-top : calc(var(--standard-margin) - 2rem);
}

.social-media__list {
margin: 10px;

}


.social-media {
margin-left : var(--standard-margin);
background-color : var(--bg-color);
}

.social-media__icon {
  width : 2.5rem;
  margin-top : calc(var(--standard-margin)+1rem);
  margin-right : calc(var(--standard-margin)+3rem);
}

.about {
  margin : var(--standard-margin);
}

.about__item {
  margin-top : calc(var(--standard-margin)-0rem);
}

.education__wrapper {
  margin-top : calc(var(--standard-margin)+rem);
}

.education {
  display : flex;
  justify-content : space-around;
  margin-top : calc(var(--standard-margin)+2rem);
}
.education:last-child {
  display:flex;
  justify-content:space-around;
  margin-top:calc(var(--standard-margin)+2rem);
}

.education__year {
 width : 100%;
}

.education__info {
  margin-top : calc(var(--standard-margin)-0rem);
  /*margin-right : calc(var(--standard-margin)-70rem);*/
  list-style-type : disc;
}

.education__info:first-child {
  margin-top : 0rem;
}

.companies__wrapper {
  margin-top : calc(var(--standard-margin)+2rem);
}
.title--dark {
margin-bottom : calc(var(--standard-margin)+2rem);
}

.companies {
  display : flex;
  width : 100%
  justify-content : space-between;
  margin-right : 1rem;
  margin-top : 1rem;
}

.logo {
  width : 2rem;
  margin-right : 1rem;
}

.companies__info {
  display : flex;
}